<mat-card class="card-cadastro-funcionario">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="nome" name="nomeInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="cpf" name="cpfInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput [(ngModel)]="senha" name="senhaInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="telefone" name="telefoneInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data de Nascimento</mat-label>
    <input matInput [(ngModel)]="dataNascimento" name="dataNascimentoInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" name="emailInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Cargo</mat-label>
    <input matInput [(ngModel)]="cargo" name="cargoInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Salário</mat-label>
    <input matInput [(ngModel)]="salario" name="salarioInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data de Admissão</mat-label>
    <input matInput [(ngModel)]="dataAdmissao" name="dataAdmissaoInput" />
  </mat-form-field>
  <div class="demo-button-container">
    <button
      mat-raised-button
      (click)="cadastrarFuncionario()"
      name="addFuncionarioButton"
    >
      Cadastrar
    </button>
  </div>
</mat-card>
