<mat-card class="card-cadastro-funcionario">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="nome" name="nomeInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="cpf" name="cpfInput" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data de Nascimento</mat-label>
    <input matInput [(ngModel)]="dataNascimento" name="dataNascimentoInput" />
  </mat-form-field>
  <div class="demo-button-container">
    <button
      mat-raised-button
      (click)="cadastrarFuncionario()"
      name="addFuncionarioButton"
    >
      Cadastrar
    </button>
  </div>
</mat-card>
